.home {
	background-color: var(--blue-background);
	z-index: 1;
	.container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		.title__container {
			display: flex;
			flex-direction: column;
         gap: 2rem;
         align-items: center;
         h2{
            color: var(--dark-blue);
            text-transform: uppercase;
            text-align: center;
         }
         .input__container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            background-color: var(--background);
            padding: 0.5rem;
            color: var(--dark-blue);
            width: 100%;
            border-radius: 1rem;
            input{
               color: var(--dark-blue);
               background-color: var(--background);
               padding-left: 1rem;
               border: none;
               font-size: 1rem;
               width: 70%;
               &:focus{
                  outline: none;
               }
            }
            .icon{
               background-color: var(--ocean-blue);
               padding: 0.3rem;
               display: flex;
               justify-content: center;
               align-items: center;
               border-radius: 0.5rem;
               cursor: pointer;
               transform: var(--transition);
               &:hover{
                  background-color: var(--dark-blue);
               }
               svg{
                  color: var(--dark-blue);
                  font-size: 1.3rem;
               }
            }
         }
		}
      .extra__image{
         img{
            max-inline-size: 100%;
            block-size: auto;
         }
      }
	}

   @media only screen and (min-device-width:768px){
      margin: 2rem;
      border-radius: 1rem;
      .container{
         .title__container{
            h2{
               font-size: 3.5rem;
            }
            .input__container{
               word-wrap: 80%;
            }
         }
      }
   }

   @media only screen and (min-device-width: 1200px){
      margin: 0 5rem;
      .container{
         flex-direction: row;
         gap: 1rem;
         padding: 2rem 2rem;
         .title__container{
            align-items: flex-start;
            h2{
               text-align: start;
               font-size: 3rem;
               font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
         }
         .extra__image{
            img{
               height: 20rem;
               margin-top: 4rem;
               max-inline-size:none;
            }
         }
      }
   }
}
